.concert-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 0;
}

.concert-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.concert-image {
    width: 100%;
    height: 300px; 
    object-fit: fill; 
  }