#featured-events h1{
    font-size: 28px;
    font-weight: 500;
    color: #000;
}
.featured-events-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30;
    margin: 20px 20px;
    overflow-x: visible;
}
.featured-events-list-item img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
    margin-bottom: 20px;
}
.featured-events-list-item h5{
    cursor: pointer;
}
.featured-events-list-item p{
    color: grey;
    cursor: pointer;
}
.genres-btn{
    width: 100px;
    height: 50px;
    border: 0px solid #d4d4d4;
    border-color: #d4d4d4;
    border-radius: 20px;
    color: gray;
}

