.featured-events-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30;
    margin: 20px 20px;
    overflow-x: visible;
    border: none;
    background-color: #070734;
}

.feature-image {
    width: 80%;
    height: 200px;
    object-fit: contain;
}

.genres-btn {
    width: 100px;
    height: 50px;
    border: 0px solid #d4d4d4;
    border-color: #d4d4d4;
    border-radius: 20px;
    color: #fff;
    align-items: center;
    text-align: center;
}

.feature-card-title{
    text-decoration: none;
}