#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #070734;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  color: #fff;
  position: fixed;
  width: 150px;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
  color: #fff;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand  a{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  justify-content: center;
  padding: 10px 5px;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-list-item:hover,
.sidebar-list-item:hover > a,
.sidebar-list-item.active,
.sidebar-list-item.active > a {
  background-color: #bdbdf0;
  color: #5454B8;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-responsive {
  display: none;
}

@media (max-width: 768px) {
  #sidebar {
      width: 0;
      overflow-x: hidden;
      transition: width 0.3s;
  }
  
  #sidebar.sidebar-responsive {
      width: 250px;
  }

  .sidebar-title,
  .sidebar-list-item > a {
      padding: 15px 20px;
  }
  
  .sidebar-list-item {
      padding: 10px 15px;
  }

  .sidebar-brand {
      font-size: 18px;
  }
}