.user-profile {
    margin-top: 80px;
}

.profile-head {
    margin-right: 20px;

}

.profile-body {
    margin-left: 20px;
}

.card-img-top {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

#profile-container .col-form-label {
    font-size: 18px;
    font-weight: 400;
}

#profile-container .form-control {
    width: 80%;
    background-color: #ffffff;
    opacity: 0.3;
}

#profile-container .profile-body .btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #5454B8;
    border: #5454B8;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#profile-container .btn:focus {
    display: flex;
    background-color: #5454B8;
    border: #5454B8;
}