.navbar{
    display: flex;
}
.navbar-brand {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.navbar-brand:hover {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.navbar-nav a{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #5454B8;
    font-weight: 600;
}
.navbar-nav a:hover{
    color: #5454B8;
    font-weight: 400;
    cursor: pointer;
}
