#search-container{
    align-content: center;
    background: url('../../assets/search.png');
    background-size: contain;
    width: 80%;
    height: 400px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.d-flex{
    margin-top: 250px;
    margin-left: 50px;
}
.form-control{
    width: 50%;   
}
.btn{
    background-color: #dd5a3e;
    border-color: #dd5a3e;
    border-radius: 10px;
    color: #fff;
}
.btn:hover{
    background-color: #dd5a3e;
    border-color: #dd5a3e;
    border-radius: 10px;
    color: #fff;
}