#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/search.png');
    border-radius: 10px;
    align-content: center;
    background-size: contain;
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
}

.search-form {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.form-control {
    width: 400px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-search {
    background-color: #5454b8;
    color: #fff;
    border: 1px solid #5454b8;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-search:hover {
    background-color: #bdbdf0;
    border-color: #bdbdf0;
}

.btn-search:active {
    background-color: #5454b8;
    color: #fff;
    border: 1px solid #5454b8;
}